/*4 BUTTON TOKEN MENU*/

#radial-menu {
    position: fixed !important;
    transform: translate(calc(100vw - 340px), calc(100vh - 340px)) !important;
    --color-text-primary: #fff;
    --color-bg-dark: #1c1d28;
    --color-text-disabled: #888994;
    --color-element-bg: #eaeaea;
    --color-red: #f85212;
    --color-green: #78ff10;
    --color-blue: #0c6be7;
    --color-yellow: #fc0;
    --font-number: "Ruda", sans-serif;
}

#radial-menu > div.button.button-2.action.open.animcomplete > div.markermenu:not([class="open"]) {
    position: absolute;
    left: -470px !important;
    top: -370px;
}

#floatingtoolbar {
    z-index: 20000;
}

#radial-menu .popupvalue {
    position: absolute;
    top: 5px;
    left: -70px;
    width: 50px;
    height: 30px;
    z-index: 1005;
    text-align:right !important;
}

#radial-menu .popupvalue input {
    width: 100%;
    font-size: 16px;
}

#radial-menu .button {
    background: var(--color-element-bg) !important;
    border: 0px;
}

#radial-menu .button.button-1 {
        position: relative;
    top: 225px;
    left: -55px;
    border-radius: 0px !important;
    z-index: -2;
    box-shadow: none !important;
}
#radial-menu .button.button-1:after {
    position: relative;
    content: ".â­";
    text-align: center;
    display: inline-block;
    font-size: 16px;
    z-index: 1000 !important;
    top: -198px;
    left: 0px;
    width: 35px;
    padding-left: 3px;
    color: var(--color-blue) !important;
    text-shadow: none;
    background-color: var(--color-blue);
}
#radial-menu .button.button-1 div.inner {
    margin-top: 2px;
}
#radial-menu .button.button-1[data-action-type] div.inner {
    background: #ddd;
    color: #555;
}
/*Moves HP Label and Token Markers*/
#radial-menu .button.button-2 {
    top: 185px !important;
    left: -55px;
    border-radius: 0px !important;
    z-index: -1;
    box-shadow: none !important;
}

/*Moves HP Label only*/
#radial-menu .button.button-2:after {
    position: relative;
    content: "HP";
    display: inline-block;
    font-size: 16px;
    z-index: 1000 !important;
    top: -218px!important;
    left: -0px!important;
    width: 30px;
    padding-left: 8px;
    color: #111 !important;
    text-shadow: none;
    background-color: var(--color-green);
}
#radial-menu .button.button-2 div.inner {
    margin-top: 2px;
}
#radial-menu .button.button-2[data-action-type] div.inner {
    background: #ddd;
    color: #555;
}

#radial-menu .button.button-3 {
    top: 25px!important;
    left: -55px!important;
    border-radius: 0px !important;
    z-index: -1;
    box-shadow: inset 0px 0px 5px var(--color-green),
                inset 0px 0px 10px var(--color-green),
                inset 0px 0px 15px var(--color-green) !important;
}
#radial-menu .button.button-3:after {
    position: relative;
    content: "AC";
    display: inline-block;
    font-size: 16px;
    z-index: 1000 !important;
    top: -115px;
    left: 0px;
    width: 30px;
    padding-left: 8px;
    color: #000 !important;
    text-shadow: none;
    background-color: var(--color-red);
}

/*Button 1 Box*/
#radial-menu .button.button-4 {
    top: 85px;
    left: -55px!important;
    border-radius: 0px !important;
    z-index: 1;
    box-shadow: 0px 0px 5px var(--color-text-disabled),
                inset 0px 0px 5px var(--color-blue),
                inset 0px 0px 10px var(--color-blue),
                inset 0px 0px 15px var(--color-blue) !important;
}

/*Button 3 Box*/
#radial-menu .button.button-5 {
    top: -35px;
    left: -55px!important;
    border-radius: 0px !important;
    z-index: 1;
    box-shadow: 0px 0px 5px var(--color-text-disabled),
                inset 0px 0px 5px var(--color-red),
                inset 0px 0px 10px var(--color-red),
                inset 0px 0px 15px var(--color-red) !important;
}

#radial-menu .button.button-6 {
    content: "SP";
    top: 295px!important;
    left: -60px!important;
    box-shadow: none !important;
}


#radial-menu .button.button-optional {
    top: 145px!important;
    left: -55px !important;
    border-radius: 0px !important;
    z-index: -10;
    box-shadow: inset 0px 0px 5px #caa605ff,
                inset 0px 0px 10px #caa605ff,
                inset 0px 0px 15px #caa605ff !important;
}

#radial-menu .button.button-optional:after {
    position: relative;
    content: "SP";
    display: inline-block;
    font-size: 16px;
    z-index: 1000 !important;
    top: -58px;
    left: -00px;
    width: 30px;
    padding-left: 8px;
    color: #000 !important;
    text-shadow: none;
    background-color:#caa605ff;
}



#radial-menu .button div.inner {
    margin: 2px;
    padding-top: 2px;
    width: 34px;
    height: 32px;
    background: #222;
    border-radius: 0px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
}

#radial-menu .button div.inner span {
    font-size: 24px;
}

#radial-menu .markermenu {
    background: var(--color-element-bg) !important;
}

#radial-menu .markermenu .markercolor,
#radial-menu .markermenu .markericon {
    border: 5px;
}

#playerzone {
    margin-left: 40px;
}

/*
#master-toolbar {
    opacity: 0.3;
    transition: opacity 1s ease-out 0.5s;
}
#master-toolbar:hover {
    opacity: 1;
    transition: opacity 0.2s ease-in 0s;
}
*/



/*TOKEN MARKER MENU*/
/* Token - Status Marker Labels & Flashing */
/* Status Marker Menu Width Override: 100% - 385px is from 54px location for GM placement */
/* Status Marker Menu Width Override: 100% - 435px is for PC placement */
/* Status Marker Menu Width */
#radial-menu div.markermenu.open { min-width:  455px; width: calc(100% - 453px) !important; max-width: 908px;  min-height: 167px; height: auto; border-radius: 15px; top: 1px; left: 42px;  padding: 5px 0px 5px 5px; display: flex; flex-wrap: wrap;}
/* Keep buttons on top */
#radial-menu .button.button-1 #radial-menu .button.button-2, #radial-menu .button.button-3, #radial-menu .button.button-4, #radial-menu .button.button-5 { z-index: 1; }
/* Remove Transition from Status Marker Window */
#radial-menu, #radial-menu .button.button-2, .markermenu.open { -webkit-transition: none !important; transition: none !important; }
#radial-menu > div.button.button-2.action.open.animcomplete > div.markermenu:not([class="open"]) { width: 0px;}
/* Unneeded?  Maybe need to change to #radial-menu .markermenu.open */
#radial-menu .markermenu { padding-left: 0px; }
/* Undo the default dead "X" styling */
#radial-menu .markermenu .markercolor.dead { font-weight: normal; height: 0px; margin-left: 10; padding: 0; top: -22px !important; width: 25px; }
/* Recreate the dead "X" without disrupting the layout */
#radial-menu .markermenu .markercolor.dead::before { content: "X"; display: block; font-size: 34px; font-weight: bold; position: absolute; text-align: center; top: 22px; width: 100%; }
/* Resize Status Marker Icons */
#radial-menu div.markermenu.open div.markericon { height: 30px; width: 30px; background-size: 30px; margin-right:25px;}
/* Prevent the icons from taking up extra space, allow space for the label text */
#radial-menu .markermenu.open .statusicon { font-size:0; margin-bottom: 15px; margin-right:10px }
/* Show the icon titles as labels */
#radial-menu .markermenu.open .statusicon::after { color: black; content: attr(title); display: inline-block; font-size: 9px; line-height: 1em; overflow: hidden; position: relative; text-align: left; left:-2px;top: 31px; white-space: nowrap; width: 40px; height: 10px; }
#radial-menu .markermenu.open .statusicon.active::after { top: 45px; font-weight: bold;}



#radial-menu .markermenu.open .sheet-marker-container {
    max-height: 350px;
    transition: max-height 0.25s ease-in;
    margin-top: 10px;
}


/* Move Active Buttons to Top Left */
div.statusicon.markericon.action.active { display: flex; align-self: flex-start; order: 0; }
div.statusicon.markericon.action:not(active) { order: 1; }

/* Put Active Buttons on Top Line and move Inactive Markers to separate line below */
/*
div.markermenu.open > div:first-child:not(active) { flex-basis: 100%; display: flex !important; height: 0px !important; order: 1; margin: 0px !important; padding: 0px !important; border: 0px !important; border-radius: 0px !important; }
div.markermenu.open > div:first-child:not(active)::after { display: none !important; }
*/
/* Blinking Green Neutral Status Markers */
.active[title="Concentrating"],
.active[title="Held-Action"],
.active[title="FlyHeight"],
.active[title="ClimbHeight"],
.active[title="BurrowDepth"],
.active[title="SwimDepth"]
{position:relative;top:-5px;animation: blinkingGreenStatusMarker 1.5s infinite; }
	@keyframes blinkingGreenStatusMarker {
		0%		{ border: 4px solid #0a0; border-radius: 4px;}
		25%		{ border: 4px solid #0a0; border-radius: 4px;}
		50%		{ border: 4px solid #ff0; border-radius: 4px;} 
		75%		{ border: 4px solid #0a0; border-radius: 4px;}
		100%	{ border: 4px solid #0a0; border-radius: 4px;} }
/* Blinking Blue Helpful Status Markers */
.active[title="Aid"],
.active[title="Aura"],
.active[title="Blessed"],
.active[title="Burrowing"],
.active[title="Climbing"],
.active[title="Enlarged"],
.active[title="Flying"],
.active[title="Hasted"],
.active[title="Heroism"],
.active[title="Hidden"],
.active[title="Inspiration"],
.active[title="Invisible"],
.active[title="MirrorImage"],
.active[title="Raging"],
.active[title="Ritual"],
.active[title="Sacred-Weapon"],
.active[title="Shrunken"],
.active[title="Stable"],
.active[title="Swimming"],
.active[title="Warded"]
{position:relative;top:-5px;animation: blinkingBlueStatusMarkers 1.5s infinite; }
	@keyframes blinkingBlueStatusMarkers {
		0%		{ border: 4px solid #00f; border-radius: 4px;}
		25%		{ border: 4px solid #00f; border-radius: 4px;}
		50%		{ border: 4px solid #ff0; border-radius: 4px;}
		75%		{ border: 4px solid #00f; border-radius: 4px;}
		100%	{ border: 4px solid #00f; border-radius: 4px;} }   
/* Blinking Red Harmful Status Markers */
.active[title="Bane"],
.active[title="Banished"],
.active[title="Blind"],
.active[title="Charmed"],
.active[title="Confused"],
.active[title="Cursed"],
.active[title="Dead"],
.active[title="Deafened"],
.active[title="Drowning"],
.active[title="Dying"],
.active[title="Encumbered"],
.active[title="Exhaustion"],
.active[title="Frightened"],
.active[title="Frozen"],
.active[title="Grappled"],
.active[title="Hexed"],
.active[title="Incapacitated"],
.active[title="Marked"],
.active[title="On-Fire"],
.active[title="Paralyzed"],
.active[title="Petrified"],
.active[title="Poisoned"],
.active[title="Prone"],
.active[title="Restrained"],
.active[title="Silenced"],
.active[title="Slowed"],
.active[title="Stunned"],
.active[title="Suffocating"],
.active[title="Unconscious"]
{ position:relative;top:-5px;animation: blinkingRedStatusMarkers 1.5s infinite; }
	@keyframes blinkingRedStatusMarkers {
		0%		{ border: 4px solid #f00; border-radius: 4px;}
		25%		{ border: 4px solid #f00; border-radius: 4px;}
		50%		{ border: 4px solid #ff0; border-radius: 4px;}
		75%		{ border: 4px solid #f00; border-radius: 4px;}
		100%	{ border: 4px solid #f00; border-radius: 4px;} }